.mainPage {
  padding: 0rem 2rem;
  text-align: center;
}

.mainPageCheckYourChartsBtn {
  width: 15rem;
  margin: 0.5rem 0rem;
}

.mainPageChangeYourChartsBtn {
  width: 15rem;
  margin: 0.5rem 0rem;
}

.mainPageUploadPlus {
  margin-right: 0.5rem;
}

.chartIcon {
  margin: 3rem;
}

.mainPageHeader5Text {
  max-width: 27rem;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
